body {
    background-color: #111827;
    color: white;
}

.foodtitle {
    font-family: "Courier New";
    font-size: 40px;
}

.big-texts {
    font-family: Arial;
    font-size: 30px;
}

.description {
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
}

img {
    width: auto;
    height: 600px;
}